@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

:root{
  --speed-dir:-100%;
}

* {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


p{
  padding: .5rem;
}

.menu{
  display: none;
}


.mobile-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  overflow: hidden;

  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: white;

  pointer-events: none;

  opacity: 0;
  transform: translateY(-20px);

  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.active {
  pointer-events: auto;

  opacity: 1;
  transform: translateY(0px);
}

.menu-icon,
.close {
  width: 30px;
  height: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.scroller {
  display: flex;
  font-size: 3rem;
  white-space: nowrap;
}

.scroller-item{
  animation: scroll 8s linear infinite;
}

.to-right{ 
  --speed-dir:100%;
}

.to-left{ 
  --speed-dir:-100%;
}

.scroller div {
  display: inline-block;
  color: rgb(202, 202, 202);
}

.scroller a {
  text-decoration: none;
  color: black;
}

@keyframes scroll {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(var(--speed-dir));
  }
}

@media (min-width: 600px){

  .menu-icon{
    display: none;
  }

  .mobile-menu{
    display: none;
  }

  body{
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  p{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}
