@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

* {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;

    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: white;

    pointer-events: none;

    opacity: 0;
    transform: translateY(-20px);

    transition: opacity 100ms ease-in-out,transform 100ms ease-in-out;
}

.active{
    pointer-events: auto;

    opacity: 1;
    transform: translateY(0px);
}

.menu-icon, .close{
    width: 30px;
    height: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

p{
    padding: .5rem;
}

a{
    text-decoration: none;
    color: black;
}